<div class="background_custom">
  <nav class="fixed-nav-bar"  style="opacity:1">
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper green">
          <a routerLink="/" class="brand-logo center">CRUD SERIES</a>
        </div>
      </nav>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <footer class="page-footer blue-grey center-align">
    Web desarollada en Angular, con Materialize que conecta con API que gestiona una base de datos de series. Formulario CRUD: "Create, Read, Update, Delete". Alberto Martí Tortajada.
    <br>
    <br>
  </footer>
</div>

